@import '~bootstrap/scss/bootstrap';

//@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import '~highlight.js/styles/monokai-sublime.css';


pre {
  color: #47bd03;
  background-color: #1c1c1c;
  display: inline-block;
  font-family: monospace;
  font-size: .9em;
  overflow-x: auto;
  padding: 0.8em;
  vertical-align: top;
  white-space: pre;
  width: 100%;
}