{% extends 'base.html.twig' %}

{% block title %}Poke {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h2>
                Todo List
            </h2>
            <ul>
                <li><del>Migration psql -> mysql</del></li>
                <li><del>createdAt automatic</del></li>
                <li><del>updatedAt Automatic</del></li>
                <li><del>Migration bdd local -> docker</del></li>
                <li><del>Sécurité</del></li>
                <li>ckeditor for EasyAdmin</li>
                <li><del>Associer post et tags</del></li>
                <li>Dashboard php info / version</li>
                <li>Complete data model</li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>



            <h2>Mes Pokes</h2>

            {# {% for post in pokes %}
                <div class="card border shadow lift mb-3">
                    <div class="card-body">
                        <div class="card-title h4 font-weight-light text-dark">
                            <a class="card-link text-dark" href="{{ path('blog_show', { slug: post.slug }) }}">
                                {{ post.title }}
                            </a>
                        </div>
                        <p class="card-text">
                            <img src="#" title="#" alt="default-img" />
                            {{ post.summary }}
                        </p>
                        <div class="d-flex justify-content-end">
                            <a class="btn btn-info px-4" href="{{ path('blog_show', { slug: post.slug }) }}">
                                Voir
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %} #}
        </div>
    </div>
{% endblock %}
